@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #03256C;
  color: #EDDFEF;
}

h1, h2, h3, strong, button {
  font-family: "Luckiest Guy";
  letter-spacing: .3rem;
}

h1, button {
  color: #EDEBA0;
}

h2, h3, strong {
  color: #06BEE1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 1rem 2rem;
  border: 5px solid #EDEBA0;
  background-color: #03256C;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  border: 5px solid black;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

p {
  font-size: 18px;
}